---
---

@import "{{ site.theme }}";

/* Custom styles */
body {

}

h1 {
  color: #f70776;
  font-family: 'Helvetica', sans-serif;
}

h2 {
  color: #f5b553;
  font-family: 'Helvetica', sans-serif;
}

h3 {
  color: #6db193;
  font-family: 'Helvetica', sans-serif;
}
